{% extends 'layout.html' %}

{% block pageTitle %}
Checking answers
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <div class="nhsuk-back-link">
            <a class="nhsuk-back-link__link" href="email-address">
              <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
              </svg>
              Go back</a>
        </div>
        <form action="submitted" method="post">
            <div class="nhsuk-form-group">
                <h1 class="nhsuk-heading-xl">Check your answers</h1>
                <div class="nhsuk-table-responsive">
                    <dl class="nhsuk-summary-list">

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Mother's name
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                TEST TEST
                            </dd>
                      
                            <dd class="nhsuk-summary-list__actions">
                      
                            <a href="application-details#first-name">
                                Change<span class="nhsuk-u-visually-hidden">Mother's name</span>
                            </a>
                      
                            </dd>
                      
                        </div>
                      
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Mother's email address
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                test@test.com
                            </dd>
                      
                            <dd class="nhsuk-summary-list__actions">
                      
                            <a href="email-address#email-address">
                                Change<span class="nhsuk-u-visually-hidden"> email address</span>
                            </a>
                      
                            </dd>
                      
                        </div>
                      
                      
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Mothers NHS number
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                1111111111
                            </dd>
                      
                            <dd class="nhsuk-summary-list__actions">
                      
                            <a href="application-details#nhs-number">
                                Change<span class="nhsuk-u-visually-hidden"> Mother's NHS number </span>
                            </a>
                      
                            </dd>
                      
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Mother's postcode
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                1111111111
                            </dd>
                        
                            <dd class="nhsuk-summary-list__actions">
                        
                              <a href="application-details#address-postcode">
                                Change<span class="nhsuk-u-visually-hidden"> Mother's postcode</span>
                              </a>
                        
                            </dd>
                        
                          </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Due date or baby's birth date
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                11 January 2021
                            </dd>
                        
                            <dd class="nhsuk-summary-list__actions">
                        
                              <a href="application-details#baby-birth-date">
                                Change<span class="nhsuk-u-visually-hidden"> Due date or baby's birth date</span>
                              </a>
                        
                            </dd>
                        
                        </div>

                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                Get details by email
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                Yes
                            </dd>
                        
                            <dd class="nhsuk-summary-list__actions">
                        
                              <a href="email-or-post#get-email">
                                Change<span class="nhsuk-u-visually-hidden"> Get details by email</span>
                              </a>
                        
                            </dd>
                        
                          </div>
                      
                      </dl>
                  </div>
                  <div class="nhsuk-warning-callout">
                    <h3 class="nhsuk-warning-callout__label">Declaration</h3>
                    <p>I can confirm that this information is correct and true in accordance with the applicant's records on 14 October 2020</p>
                    <p>I can confirm that the applicant:</p>
                    <ul id="sesame-street" class="nhsuk-list nhsuk-list--bullet">
                        <li>has given her permission for this application to be submitted on her behalf</li>
                        <li>knows the information submitted will be used by the NHS Business Services Authority and shared other organisations working on their behalf where necessary</li>
                        <li>understands her data will not be transferred outside of the European Economic Area and will be deleted within 24 months of the expiry date of exemption</li>
                        <li>is aware that this is a pilot scheme she is taking part in</li>
                        <li>consents to her data being used to evaluate the digital pilot scheme</li>
                      </ul>
                      <p>I understand that when I press submit, I am submitting an application on behalf of the named person.</p>
                  </div>
                  <button class="nhsuk-button" type="submit">
                    Submit
                  </button>
            </div>    
        </form>
    </div>
</div>
            



{% endblock %}          