{% extends 'layout.html' %}

{% block pageTitle %}
  Start Page
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

        <form action="is-mother-present" method="post">
            <div class="nhsuk-form-group">

<h1 class="nhsuk-heading-xl">Apply for a maternity exemption</h1>

<p class="nhsuk-body-l">Use this service to apply for maternity exemption certificates on behalf of new or expectant mothers.</p>

<div lass="nhsuk-body-s">
    <p>A maternity exemption certificate entitles the mother to free prescriptions:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>while pregnant</a></li>
            <li>for 12 months after the birth of the child</a></li>
        </ul>
    <p>You'll need the mother's:</p>
        <ul class="nhsuk-list nhsuk-list--bullet">
            <li>date of birth</li>
            <li>NHS number</li>
            <li>due or birth date of their child</li>
            <li>email or postal address</li>
        </ul>
    <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>You'll need to register to use this service.</p>
    </div>
</div>

<button class="nhsuk-button" type="submit">
    Start
</button>
<details class="nhsuk-details">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        I do not have an account
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <p>To use this service you must:</p>
      <ul>
        <li>be a Midwife, GP or Health Visitor</li>
        <li>be registered with the Nursing and Midwifery Council (NMC) or the General </li>
        <li>Medical Council (GMC) to create an account</li>
        <li>ahave an NHSmail email address</li>
      </ul>
      <a href="#"><p>Register to use this service</p></a>
      <a href="https://www.nhsbsa.nhs.uk/exemption-certificates/maternity-exemption-certificates/digital-maternity-exemption-service"><p>Find out more on our website</p></a>
    </div>
  </details>
  <details class="nhsuk-details">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        I'm pregnant or have had a baby within the last 12 months
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <p>To get a maternity exemption certificate contact your midwife, doctor or health visitor.</p>
      <a href="https://www.nhsbsa.nhs.uk/exemption-certificates/maternity-exemption-certificates"><p>Find out what you're entitled to</p></a>
</form>
            </div>
    </div>
</div>



{% endblock %}